extends layout

block content
  h1.align-center Photo Hunt
  include twitter.html
  div.center.align-center
    a(href="http://www.htmlfusion.com/")= "by HTML Fusion"
  h2.align-center How to play?
  div.center
    ol
      li Pick an item to find from the list.
      li 
        span Take a picture of that item and Tweet it to 
        a(href='https://twitter.com/intent/tweet?screen_name=htmlfusion')= "@htmlfusion"
        span , we'll reply and cross it off the list if you're the first to find it.
      li Find as many items as you can!
  h2.align-center Items
  div.center
    ul
      each val in found
        li
          span.found-item= val.text + " "
          a(href='https://twitter.com/'+ val.tweet.user.screen_name target="blank")= "@"+val.tweet.user.screen_name
      each val in unfound
          li= val.text
